body{
    margin: 0;
    padding: 0;

    
}

header{
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    



}

.navbar-brand{
    font-family: Freestyle Script;
    font-size: 15rem;
    font-weight: 800;
}

@media (max-width:995px) {
    .navbar-brand {
        display: block;
    }
     .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-bottom-left-radius: 2rem;
         padding: 1rem 3%;
        display: none; 

    } 
}
    


p{
    font-size: 1.5rem;
    font-weight: 200;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image_section{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-left: 20px;

    padding: 10px;

}
img{
    border-radius: 5px;
    height: 220px;
    width: 315px;

}
@media screen and  (max-width:600px) {
    .image_section {
        margin: 0;
        padding: 0;
        margin-left: 5px;
        grid-template-columns: repeat(1, 1fr);
        
    
    }
    img{
        height: 110px;
        width: 150px;
    }
    p{
        font-size: 10px;
        font-weight: 100;
        margin-left: 5px;
        width: 40%;
    }
}